@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
    font-family: "FontAwesome";
    src: url("/static/assets/fonts/line-awesome.ttf") format("truetype");
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: 'Montserrat', sans-serif;
}
#logoholder{width: 180px;
height: 180px;
position: fixed;
left: 51.6%;
top: 30%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
border-radius: 50px}
#publicoffer{width: 180px;
height: 180px;
position: fixed;
left: 50%;
color: #ccc;
bottom: 0%;
font-size: 10px;
  text-align: center;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
border-radius: 50px}
#publicoffer a{color: #c4c4c4;}
#publicoffer a:hover{color: #949494;}
#login_form {
  width: 360px;
  height: 70px;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50px;
}
#login_form .form-body {
  height: 70px;
  overflow: hidden;
  border-radius: 50px;
}
#login_form .form-body .error-text {
  position: absolute;
  left: 80px;
  top: 4px;
  z-index: 25;
  color: #b71c1c;
  font-size: 10px;
  font-weight: 600;
  display: none;
}
#login_form .form-body .form-controls {
  position: relative;
  z-index: 5;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  top: 0;
}
#login_form .form-body .form-controls input {
  display: block;
  width: 100%;
  height: 70px;
  padding: 10px 60px 10px 80px;
  font-size: 18px;
  color: #666;
  border: none;
}
#login_form .form-body .form-controls input:focus {
  outline: none;
}
#login_form .form-head {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100%;
  background: #ffb700;
  border-radius: 50px;
  text-align: center;
  line-height: 70px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  z-index: 40;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
#login_form .form-head .text {
  display: none;
}
#login_form .form-head .text:before {
  font-family: 'Montserrat', sans-serif;
}
#login_form .form-action {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fefefe;
  text-align: center;
  right: 10px;
  top: 50%;
  border-radius: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 50;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  outline: none;
  color: inherit;
}
#login_form .form-action:hover {
  background: #f9f9f9;
}
#login_form .form-action .icon-action {
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
#login_form .form-action .icon-action:after {
  line-height: 52px;
  content: "\f112";
}
#login_form .form-action .icon-action.back {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#login_form .icon-placeholder {
  font-size: 24px;
  line-height: 70px;
}
#login_form.signup {
  color: #fff;
}
#login_form.signup .form-head {
  width: 100%;
}
#login_form.signup .form-head .icon-placeholder {
  display: none;
}
#login_form.signup .form-head .text {
  display: block;
}
#login_form.signup .form-head .text:before {
  font-weight: 600;
}
#login_form.signup .form-action {
  right: 100px;
  background: none;
  line-height: 54px;
}
#login_form.signup .form-action .icon-action.back {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
#login_form.success {
  color: #fff;
}
#login_form.success .form-head {
  width: 100%;
  background: #91c454;
}
#login_form.success .form-head .icon-placeholder {
  display: none;
}
#login_form.success .form-head .text {
  display: block;
}
#login_form.success .form-head .text:before {
  content: 'Успешно';
}
#login_form.success .form-action {
  right: 90px;
  background: none;
  line-height: 60px;
}
#login_form.success .form-action .icon-action.back {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
#login_form.success .form-action .icon-action:after {
  content: "\f17d";
}
#login_form.name {
  color: #91c454;
}
#login_form.name .form-head {
  background: #6aa924;
}
#login_form.name .form-head .icon-placeholder:after {
  content: "\f255";
}
#login_form.phone {
  color: #42d3a0;
}
#login_form.phone .form-head {
  background: #42d3a0;
}
#login_form.phone .form-head .icon-placeholder:after {
  content: "\f2a9";
}
#login_form.phone .form-body .form-controls {
  top: -70px;
}
#login_form.email {
  color: #006ae5;
}
#login_form.email .form-head {
  background: #006ae5;
}
#login_form.email .form-head .icon-placeholder:after {
  content: "\f1c6";
}
#login_form.email .form-body .form-controls {
  top: -140px;
}
#login_form.password {
  color: #37474F;
}
#login_form.password .form-head {
  background: #37474F;
}
#login_form.password .form-head .icon-placeholder:after {
  content: "\f360";
}
#login_form.password .form-body .form-controls {
  top: -210px;
}
#login_form.password-repeat {
  color: #212121;
}
#login_form.password-repeat .form-head {
  background: #212121;
}
#login_form.password-repeat .form-head .icon-placeholder:after {
  content: "\f361";
}
#login_form.password-repeat .form-body .form-controls {
  top: -280px;
}


#login_form.error .form-head {
  background: #b71c1c !important;
}
#login_form.error .form-head .icon-placeholder:after {
  content: 'close' !important;
}
#login_form.error .form-body .form-controls input:-moz-placeholder {
  color: #b71c1c;
}
#login_form.error .form-body .form-controls input::-moz-placeholder {
  color: #b71c1c;
}
#login_form.error .form-body .form-controls input:-ms-input-placeholder {
  color: #b71c1c;
}
#login_form.error .form-body .form-controls input::-webkit-input-placeholder {
  color: #b71c1c;
}

.material-icons, #login_form .form-action .icon-action, .icon-placeholder {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
