{% load loc %}
<!-- aside -->
<div id="aside" class="app-aside box-shadow-z3 modal fade lg nav-expand">
<div class="left navside white dk" layout="column">
  <div class="navbar navbar-md info no-radius box-shadow-z4" >
    <!-- brand -->
    <a class="navbar-brand" style="text-align: center;">
        <img src="/static/assets/keyday.svg" alt=".">
    </a>
    <!-- / brand -->
  </div>
  <div flex class="hide-scroll">
    <nav class="scroll">
        <!--
        <div class="item">
          <div class="item-bg hidden-folded">
            <img src="/static/assets/images/a2.jpg" class="opacity-3">
          </div>
          <div class="pos-rlt">
            <div class="nav-fold">
                <a href="#/app/page/profile" ui-sref="app.page.profile" >
                <span class="block">
                  <img src="/static/assets/images/a2.jpg" alt="..." class="w-40 img-circle">
                </span>
                <span class="clear hidden-folded m-t-sm">
                  <span class="block _500">Samurai <span class="label blue" style="font-size: 10px;">1 ур.</span></span>
                  <small class="block text-muted">Уровень 1</small>
                </span>
              </a>
            </div>
          </div>
        </div>
        -->

        <ul class="nav" ui-nav>
          <li class="nav-header hidden-folded">
            <small class="text-muted">{% trans 'DASHBOARD' %}</small>
          </li>
          <li {% if current_page == 'dashboard_info' %}class="active"{% endif %}>
            <a href="/info/" >
              <span class="nav-icon">
                <i class="material-icons">&#xe3fc;
                  <span ui-include="assets/images/i_0.svg"></span>
                </i>
              </span>
              <span class="nav-text">{% trans 'HOME' %}</span>
            </a>
          </li>
          <li {% if current_page == 'dashboard_keys' or not current_page %}class="active"{% endif %}>
            <a href="/keys/" >
              <span class="nav-icon">
                <i class="material-icons">vpn_key
                </i>
              </span>
              <span class="nav-text">{% trans 'MY_KEYS' %}</span>
            </a>
          </li>
          <li {% if current_page == 'dashboard_progress' %}class="active"{% endif %}>
            <a href="/progress/">
              <span class="nav-icon">
                <i class="material-icons">flare
                </i>
              </span>
              <span class="nav-text">{% trans 'TRAINING' %}</span>
            </a>
          </li>
          <li {% if current_page == 'dashboard_settings' %}class="active"{% endif %}>
            <a href="/settings/" >
              <span class="nav-icon">
                <i class="material-icons">tune
                </i>
              </span>
              <span class="nav-text">{% trans 'SETTINGS' %}</span>
            </a>
          </li>

        </ul>
    </nav>
  </div>
</div>
</div>
<!-- / aside -->