{% load loc %}
<!DOCTYPE html>
<html lang="en">
{% include "_header.html" %}
<body class="container dark">
<div class="app" id="app">

    <!-- ############ LAYOUT START-->

    {% include "_aside.html" %}

    <!-- content -->
    <div id="content" class="app-content box-shadow-z3" role="main">
        <div class="app-header info box-shadow-z4 navbar-md"
             style="padding: 1.53rem;">
            <div class="navbar navbar-toggleable-sm flex-row align-items-center">
                <!-- Open side - Naviation on mobile -->
                <a data-toggle="modal" data-target="#aside"
                   class="hidden-lg-up mr-3">
                    <i class="material-icons">&#xe5d2;</i>
                </a>
                <!-- / -->

                <!-- Page title - Bind to $state's title -->
                <div class="mb-0 h5 no-wrap" ng-bind="$state.current.data.title"
                     id="pageTitle"></div>

                <!-- navbar collapse -->
                <div class="collapse navbar-collapse" id="collapse">
                    <!-- link and dropdown -->
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <div ui-include="views/blocks/dropdown.new.html"></div>
                        </li>
                    </ul>

                    <!-- / -->
                </div>
                <!-- / navbar collapse -->

                <!-- navbar right -->
                <ul class="nav navbar-nav ml-auto flex-row">
                    <li class="no-bg" style="margin-right: 10px;"><a href="//en.keyday.net">
                        <img style="width:20px" src="/static/assets/images/us.svg"></a>
                    </li>
                    <li class="no-bg" style="margin-right: 10px;"><a href="//keyday.net">
                        <img style="width:20px" src="/static/assets/images/ru.svg"></a>
                    </li>
                    <li class="no-bg" style="width:80px">
                        <a href="/logout/">
                            <span class="nav-icon">
                             <i class="material-icons" style="color: #449b04"></i>
                            </span>
                            <span class="nav-text">{% trans 'LOGOUT' %}</span>
                        </a>
                    </li>
                </ul>
                <!-- / navbar right -->
            </div>
        </div>
        <div class="app-footer">
            <div class="p-2 text-xs">
                <div class="pull-right text-muted py-1">
                    &copy; Copyright 2018 <strong>KeyDay</strong> <span
                        class="hidden-xs-down">- {% trans 'SLOGAN' %} v1.1.3</span>
                    <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
                </div>

                <div class="nav">
                    <a class="nav-link" href="/static/public-offer-{{ current_lang }}.pdf">{% trans 'LICENSE_AGREEMENT' %}</a>

                    <a href="https://vk.com/keyday7" style="transform: scale(0.67);" class="btn btn-icon btn-social rounded btn-social-colored light-blue-900" title="VK" >
                        <i class="fa fa-vk"></i>
                        <i class="fa fa-vk"></i>
                    </a>
                    &nbsp;&nbsp;<a href="https://t.me/joinchat/AAAAAE1srqXZeqSTQPOonQ" style="transform: scale(0.67);" class="btn btn-icon btn-social rounded btn-social-colored light-blue-600" title="Telegram" >
                        <i class="fa fa-paper-plane"></i>
                        <i class="fa fa-paper-plane"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="app-body" id="view">
            <!-- ############ PAGE START-->
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- /content -->

</div>
<!-- ############ PAGE END-->

<!-- jQuery -->
<script src="/static/libs/jquery/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->
<script src="/static/libs/jquery/tether/dist/js/tether.min.js"></script>
<script src="/static/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
<!-- core -->
<script src="/static/libs/jquery/underscore/underscore-min.js"></script>
<script src="/static/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js"></script>
<script src="/static/libs/jquery/PACE/pace.min.js"></script>

<script src="/static/scripts/config.lazyload.js"></script>

<script src="/static/scripts/palette.js"></script>
<script src="/static/scripts/ui-load.js"></script>
<script src="/static/scripts/ui-jp.js"></script>
<script src="/static/scripts/ui-include.js"></script>
<script src="/static/scripts/ui-device.js"></script>
<script src="/static/scripts/ui-form.js"></script>
<script src="/static/scripts/ui-nav.js"></script>
<script src="/static/scripts/ui-screenfull.js"></script>
<script src="/static/scripts/ui-scroll-to.js"></script>
<script src="/static/scripts/ui-toggle-class.js"></script>


{% block scripts %}{% endblock %}

</body>
</html>