{% extends "dasboard_base.html" %}
{% load humanize %}
{% load pytils_numeral %}
{% load loc %}


{% block scripts %}
    <script src="/static/scripts/info.js"></script>
{% endblock %}

{% block dashboard_content %}
<div class="padding">
    <div class="margin">
        <h5 class="mb-0 _300">{% trans 'HI' %}</h5>
        <small class="text-muted">{% trans 'INFO_WELCOME' %}
            <a href="/progress/">{% trans 'INFO_TOP_LINK_TEXT' %}</a>.
        </small>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box p-a">
                <div class="pull-left m-r">
                    <span class="w-40 warn text-center rounded">
                      <i class="material-icons">face</i>
                    </span>
                </div>
                <div class="clear">
                    <h4 class="m-0 text-md">
                        <a href>{{ request.user.get_partners_count }} <span class="text-sm">{% trans 'PARTNERS' %}</span></a>
                    </h4>
                    <small class="text-muted">{% trans 'IN_YOUR_STRUCTURE' %}</small>
                </div>
            </div>
        </div>
        <!--
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box-color p-a warn">
                <div class="pull-right m-l">
                    <span class="w-40 dker text-center rounded">
                      <i class="material-icons">perm_identity</i>
                    </span>
                </div>
                <div class="clear">
                    <h4 class="m-0 text-md">
                        <a href>40 <span class="text-sm">Партнеров</span></a>
                    </h4>
                    <small class="text-muted">1 уровня.</small>
                </div>
            </div>
        </div>
        -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box p-a">
                <div class="pull-right m-l">
        <span class="w-40 accent text-center rounded">
        <i class="material-icons">alarm_add</i>
        </span>
                </div>
                <div class="clear">
                    <h4 class="m-0 text-md"><a href>{{ request.user.get_possible_income|intcomma }}&nbsp;€<br/><span
                            class="text-sm">{% trans 'PROFIT_FORECAST' %} *</span></a></h4>
                    <small class="text-muted"></small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box-color p-a accent">
                <div class="pull-left m-r">
        <span class="w-40 dker text-center rounded">
          <i class="material-icons">account_balance_wallet</i>
        </span>
                </div>
                <div class="clear">
                    <h4 class="m-0 text-md"><a href>{{ request.user.get_income|intcomma }}&nbsp;€<br/><span
                            class="text-sm">{% trans 'PROFIT' %}</span></a></h4>
                    <small class="text-muted"></small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="box">
                <div class="box-header dker">
                    {% with lvl=request.user.level %}
                    <h3>{% trans 'CURRENT_LEVEL' %}: {{ lvl }}</h3>
                    {% if lvl < 4 %}
                    <small>{% trans 'PURCHASE_NEW_LEVEL' %}</small>
                    {% else %}
                    <small>{% trans 'MAX_LEVEL' %}</small>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>

            {% if level_sellers %}
            {% for dt in level_sellers %}
            {% if dt.seller %}
            <div class="box">
                <div class="box-header dker">
                    <h3>{% trans 'LEVEL' True %} {{ dt.level_info.id }}. {% trans 'COST' %} {{ dt.level_info.cost }}&nbsp;€</h3>
                </div>
                <div class="box-body">
                    <p class="m-0">{% trans 'OWNER_OF_KEY_LEVEL' %} {{ dt.level_info.id }} {% trans 'IS_WAITING_YOU' %}:</p>
                    <br/>
                    {% if dt.seller.email %}
                        <p>Email: {{ dt.seller.email }}</p>
                    {% endif %}
                    {% if dt.seller.telegram %}
                        <p>Telegram: {{ dt.seller.telegram }}</p>
                    {% endif %}
                    {% if dt.seller.phone and dt.seller.show_phone_to_partners %}
                        <p>Phone.: {{ dt.seller.phone }}</p>
                    {% endif %}
                </div>
                <div class="box-body">
                    <p class="m-0" style="padding-bottom: 10px;">
                    {% trans 'PASTE_KEY_HERE' %}:
                    </p>
                    <div style="display: inline-block">
                        <div class="box-color warning" id="key-error-msg-cont" style="display:none;">
                            <span class="arrow bottom b-warning"></span>
                            <div class="box-body" id="key-error-msg-txt"></div>
                        </div>
                        {% trans 'KEY' %}:&nbsp;<input id="key_activate" class="form-control input-sm w-auto inline m-r" type="text">
                        <button type="submit" class="btn btn-info blue">
                            {% trans 'UPGRADE_LEVEL' %}
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}