{% extends "dasboard_base.html" %}
{% load loc %}
{% load el_pagination_tags %}

{% block scripts %}
    <script src="/static/scripts/keys.js?v=2"></script>
{% endblock %}

{% block dashboard_content %}
<div class="padding">
    <div class="box">

        <div class="box-header">
            <h2>{% trans 'MY_KEYS' %}</h2>
            <small>{% trans 'MY_KEYS_WARN' %}</small>
            <br/>
            <form autocomplete="off">
            {% trans 'GEN_KEYS' %}:
            {% for inf in key_gen_info %}
                {% if inf.is_available %}

                <button class="js-key-gen md-btn md-raised m-b-sm {{ inf.color }}" value="{{ inf.level_id }}" type="button">
                    {{ inf.caption }}
                </button>
                {% else %}
                <button id="js-go-info" type="button" class="md-btn md-raised m-b-sm white">
                    Повысьте уровень
                </button>
                {% endif %}
            {% endfor %}
            </form>
        </div>
        <div class="box-body">
            <form method="get" id="keys_search_form">
            {% trans 'SEARCH' %}: <input id="filter" name="search_string" value="{{ request.GET.search_string }}" class="form-control input-sm w-auto inline m-r" type="text">
            </form>
        </div>
        <div>
            <table id="keys-table" class="table m-b-none tablet breakpoint footable-loaded footable" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                <tr>
                    <th data-toggle="true"
                        class="footable-visible footable-first-column footable-sortable">
                        {% trans 'KEY' %}
                        <span class="footable-sort-indicator"></span>
                    </th>
                    <th class="footable-visible footable-sortable">
                        {% trans 'LEVEL' True %}
                        <span class="footable-sort-indicator"></span>
                    </th>
                    <th data-hide="phone"
                        class="footable-visible footable-last-column footable-sortable">
                        {% trans 'STATUS' %}
                        <span class="footable-sort-indicator"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% paginate keys %}
                {% for k in keys %}
                <tr style="display: table-row;" class="footable-even text-muted">
                    <td class="footable-visible footable-first-column">
                        {{ k.value }}<br>
                        <a href="/view/key/{{ k.value }}">{% trans 'OPEN' %}</a>
                    </td>
                    <td class="footable-visible">
                        <a href="">{{ k.get_level }} {% trans 'LEVEL' %}</a>
                    </td>
                    <td class="footable-visible footable-last-column">
                        <span class="label {{ k.status_css }}" title="{% trans k.status %}">{% trans k.status %}</span>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="5" class="text-center footable-visible">
                        <ul class="pagination">
                            {% monkey_patch_pagination %}
                            {% show_pages %}
                            {% end_monkey_patch_pagination %}
                        </ul>
                    </td>
                </tr>

                </tfoot>

            </table>
        </div>
    </div>
</div>
{% endblock %}
