{% load loc %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>KeyDay - Онлайн-обучение торговле криптовалютами.</title>
        <link rel="stylesheet" href="/static/assets/styles/login.css">
        <script type="text/json" id="loc" src="/static/locale/{{ current_lang }}.json"></script>
    </head>

    <body>
        <div id="login_page">
            <div id="logoholder">
                <img src="/static/assets/keyday_main.svg" width="140px">
                <div style="text-align: center; margin-left: -30px;">
                    <a href="//en.keyday.net" style="text-decoration: none;">
                        <img style="width:20px;" src="/static/assets/images/us.svg">
                    </a>
                    <a href="//keyday.net" style="text-decoration: none;">
                        <img style="width:20px;" src="/static/assets/images/ru.svg">
                    </a>
                </div>
            </div>

            <form class="signup" id="login_form" autocomplete="off">
                {% csrf_token %}
                <div class="form-head">
                    <span class="text">{% trans 'START' %}</span><i class="icon-placeholder"></i>
                </div>
                <div class="form-body">
                    <span class="error-text">Please Fill Out This Field</span>

                    <div class="form-controls">
                        <input id="control-name" placeholder="{% trans 'KEY' %}" />
                        <input id="control-phone" placeholder="{% trans 'TELEGRAM_LINK' %}" />
                        <input id="control-email" placeholder="Email" />
                        <input id="control-password" placeholder="{% trans 'PASSWORD' %}" type="password" />
                        <input id="control-password-repeat" placeholder="{% trans "PASSWORD_CONFIRM" %}" type="password" />
                    </div>
                </div>
                <a class="form-action"><i class="icon-action"></i></a>
            </form>
            <div id="publicoffer">
                <a href="/static/public-offer-{{ current_lang }}.pdf"></a>
            </div>
        </div>

        <script src="/static/libs/jquery/jquery/dist/jquery.js"></script>
        <script src="/static/scripts/loc.js"></script>
        <script src="/static/scripts/login.js"></script>
    </body>
</html>