{% extends "dasboard_base.html" %}
{% load loc %}

{% block dashboard_content %}
<div class="padding">
    <div class="box">
        <div class="box-body">
            <div class="margin">
                <h5 class="mb-0 _300">{% trans 'TRAINING' %}</h5>
                <small class="text-muted">{% trans 'TRAINING_TITLE' %}</small>
            </div>
            <h6>{% trans 'YOUR_PROGRESS' %}:</h6>

            <div class="progress mb-4">
                <div class="progress-bar progress-bar-striped progress-bar-animated info"
                     style="width: {{ progress }}%; opacity: .25;">{{ progress }}%
                </div>
            </div>
            <small class="text-muted">
                {% trans 'CHAPTERS_DESC' %} {{ current_level }} {% trans 'OF' %} 4.
            </small>

            <div class="panel box no-border m-b-xs">
                <div class="box-header p-y-sm">
                    <span class="pull-right label white">{% trans 'CHAPTER_1_PAGES' %}</span>
                    <a data-toggle="collapse" data-parent="#accordion"
                       data-target="#c_2" class="collapsed"
                       aria-expanded="false">
                        {% trans 'CHAPTER_1_TITLE' %}
                    </a>
                </div>
                <div id="c_2" class="collapse" aria-expanded="false" style="">
                    <div class="box-body">
                        <p class="text-sm"><span
                                class="text-md pull-left w-32 m-r rounded info"><i
                                class="fa fa-arrow-down p-x-sm"></i></span>
                            <a style="margin-top: 10px;" href="/manual/{{ current_lang }}/1/" class="label blue">{% trans 'DOWNLOAD' %} PDF</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel box no-border m-b-xs {% if current_level < 2 %}text-muted{% endif %}">
                <div class="box-header p-y-sm">
                    <span class="pull-right label white">{% trans 'CHAPTER_2_PAGES' %}</span>
                    <a data-toggle="collapse" data-parent="#accordion"
                       data-target="#c_3" class="collapsed"
                       aria-expanded="false">
                        {% trans 'CHAPTER_2_TITLE' %}
                    </a>
                </div>
                <div id="c_3" class="collapse" aria-expanded="false" style="">
                    <div class="box-body">
                        <p class="text-sm">
                            <span
                                class="text-md pull-left w-32 m-r rounded info"><i
                                class="fa fa-arrow-down p-x-sm"></i>
                            </span>
                            <a style="margin-top: 10px;" href="{% if current_level > 1 %}/manual/{{ current_lang }}/2/{% else %}javascript:void(0){% endif %}" class="label blue">{% trans 'DOWNLOAD' %} PDF</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel box no-border m-b-xs {% if current_level < 3 %}text-muted{% endif %}">
                <div class="box-header p-y-sm">
                    <span class="pull-right label white">{% trans 'CHAPTER_3_PAGES' %}</span>
                    <a data-toggle="collapse" data-parent="#accordion"
                       data-target="#c_4" class="collapsed"
                       aria-expanded="false">
                        {% trans 'CHAPTER_3_TITLE' %}
                    </a>
                </div>
                <div id="c_4" class="collapse" aria-expanded="false" style="">
                    <div class="box-body">
                        <p class="text-sm">
                            <span class="text-md pull-left w-32 m-r rounded info">
                                <i class="fa fa-arrow-down p-x-sm"></i>
                            </span>
                            <a style="margin-top: 10px;"  href="{% if current_level > 2 %}/manual/{{ current_lang }}/3/{% else %}javascript:void(0){% endif %}" class="label blue">{% trans 'DOWNLOAD' %} PDF</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel box no-border m-b-xs {% if current_level < 4 %}text-muted{% endif %}">
                <div class="box-header p-y-sm">
                    <span class="pull-right label white">{% trans 'CHAPTER_4_PAGES' %}</span>
                    <a data-toggle="collapse" data-parent="#accordion"
                       data-target="#c_5" class="collapsed"
                       aria-expanded="false">
                        {% trans 'CHAPTER_4_TITLE' %}
                    </a>
                </div>
                <div id="c_5" class="collapse" aria-expanded="false" style="">
                    <div class="box-body">
                        <p class="text-sm">
                            <span class="text-md pull-left w-32 m-r rounded info">
                                <i class="fa fa-arrow-down p-x-sm"></i>
                            </span>
                            <a style="margin-top: 10px;" href="{% if current_level > 3 %}/manual/{{ current_lang }}/4/{% else %}javascript:void(0){% endif %}" class="label blue">{% trans 'DOWNLOAD' %} PDF</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
