{% extends "base.html" %}
{% load loc %}
{% block content %}
<div class="row no-gutter">
    <div class="col-sm-3 col-lg-2">
        <div class="p-y">
            <div class="nav-active-border left b-primary">
                <ul class="nav nav-sm flex-column">
                    <!--
                    <li class="nav-item">
                        <a class="nav-link block {% if current_subpage == 'dashboard_settings_profile' %}active{% endif %}"
                           href="/profile/">
                            Профиль
                        </a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link block {% if current_subpage == 'dashboard_settings_contacts' %}active{% endif %}"
                           href="/settings/">
                            {% trans 'CONTACTS' %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link block {% if current_subpage == 'dashboard_settings_security' %}active{% endif %}"
                           href="/security/">
                            {% trans 'SECURITY' %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block profiles_content %}
    {% endblock %}
</div>
{% endblock %}