{% extends "profiles/base.html" %}
{% load loc %}

{% block profiles_content %}
<div class="col-sm-9 col-lg-10 light lt">
    <div class="tab-content pos-rlt">
        <div class="tab-pane active" id="tab-3" aria-expanded="true">
            <div class="p-a-md dker _600">Настройки контактов</div>
            <form method="post" autocomplete="off" role="form" class="p-a-md col-md-6">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group">
                    <label>{% trans 'YOUR_EMAIL' %} *</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="form-group">
                    <label>{% trans 'YOUR_TELEGRAM' %} *</label>
                    {{ form.telegram }}
                    {{ form.telegram.errors }}
                </div>
                <div class="form-group">
                    <label>{% trans 'YOUR_MOBILE' %}</label>
                    {{ form.phone }}
                    {{ form.phone.errors }}
                </div>
                <div class="checkbox">
                    <label class="ui-check">
                        {{ form.show_phone_to_partners }}<i class="dark-white"></i>
                        {% trans 'SHOW_MOBILE' %}
                    </label>
                </div>
                <button type="submit" class="btn btn-info blue">
                    {% trans 'SAVE' %}
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
