{% extends "profiles/base.html" %}
{% load loc %}

{% block profiles_content %}
<div class="col-sm-9 col-lg-10 light lt">
    <div class="tab-content pos-rlt">
        <div class="tab-pane active" id="tab-3" aria-expanded="true">
            <div class="p-a-md dker _600">{% trans 'SECURITY_SETTINGS' %}</div>
            <form method="post" autocomplete="off" role="form" class="p-a-md col-md-6">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group">
                    <label>{% trans 'CURRENT_PASSWORD' %} *</label>
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>
                <div class="form-group">
                    <label>{% trans 'NEW_PASSWORD' %} *</label>
                    {{ form.new_password }}
                    {{ form.new_password.errors }}
                </div>
                <div class="form-group">
                    <label>{% trans 'NEW_PASSWORD_CONFIRM' %} *</label>
                    {{ form.password_confirm }}
                    {{ form.password_confirm.errors }}
                </div>
                <button type="submit" class="btn btn-info blue">
                    {% trans 'SAVE' %}
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
